
@import "~bootstrap/dist/css/bootstrap.min.css";

/* 
const GlobalStyles = createGlobalStyle`
    body {
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
`;

interface GlobalsProps {
    Component: React.ComponentType<any>;
    pageProps: any;
}

const Globals: React.FC<GlobalsProps> = ({ Component, pageProps }) => {
    return (
        <>
            <GlobalStyles />
            <Component {...pageProps} />
        </>
    );
};

export default Globals;  */

