/*Featured Products and Header */
.custom-navbar{
    background-color: black;
    padding: 40px;
}

.custom-navlink{
    color: pink;
}
/*Featured Products on homepage*/
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
   
  }
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;  
}
.featured-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*sets a margin, removes the border and adds a subtle box shadow to the cards */
.featured-card {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 15px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

/*sets the height and applies 'object:cover' to ensure the image fills the space without distortion*/
.card-image {
    object-fit: cover;
    align-items: center; 
    height: 150px; /*sets a fixed height */
}

.card-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px; /*adds small margin below the title */
}

/*updates the font size and sets the text color */
.card-text{
    font-size: 10px;
    color: black;
}
