/*Featured Products and Header */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    
}

.custom-navbar{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    
}

.custom-navlink{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 50px;
    text-align: center;
    
}

.icon-container {
    display: flex;
    align-items: flex-end;
    margin-left: 0 auto;
    
    }

/*Featured Products on homepage*/
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
   
  }
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;  
}
.featured-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*sets a margin, removes the border and adds a subtle box shadow to the cards */
.featured-card {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 15px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  /*creating hover effect for each card in the featured section */
  .featured-card:hover{
    transform: scale(1.05);
    background-color: #f2f2f2;
  }
/*sets the height and applies 'object:cover' to ensure the image fills the space without distortion*/
.card-image {
    object-fit: cover;
    align-items: center; 
    height: 150px; /*sets a fixed height */
}

.card-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px; /*adds small margin below the title */
}

/*updates the font size and sets the text color */
.card-text{
    font-size: 10px;
    color: black;
}
